@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .gallery {
        grid-template-columns: 1fr;
    }

    #menuButton {
        display: block;
        margin: 1rem 0;
        font-size: 2rem;
        background: none;
        border: none;
        color: white;
        padding: 10px;
    }

    .navMenu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #003366;
        text-align: center;
    }

    .navMenu.open {
        display: flex;
    }

    .navMenu ul {
        flex-direction: column;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .navMenu ul li {
        width: 100%;
        padding: 10px 0;
    }

    .navMenu ul li a {
        display: block;
        padding: 15px;
        width: 100%;
    }

    .navMenu.active {
        display: block;
    }
}